// Breakpoints
$bp-large: 768px !default;

// Containers
$ct-large: 720px !default;

// Font Families
$ff-roboto-slab: 'Roboto Slab', serif !default;
$ff-montserrat: 'Montserrat', sans-serif !default;
$ff-lora: 'Lora', serif !default;

// Colors
$c-text: #3f3f3f !default;
$c-text-light: #EFEFEF !default;
$c-header-bg: rgba(0, 0, 0, .8) !default;
