- var extra_classes = " ";

if header_dark
  - extra_classes += "header--dark";

header(class='header' + extra_classes)
  .container
    .header-logo
      a(href='/').js-jump-top
        img(src='../images/icon-logo.png')

    .header-button
      button.js-header-menu-toggle
        i.material-icons menu

    .header-menu
      include menu-navigation

      include menu-social
