- var header = "header class='header'";

if header_dark
  - var header = "header class='header header--dark'";

#{header}
  .container
    .header-logo
      a(href='/')
        img(src='../images/icon-logo.png')

    .header-button
      button.js-header-menu-toggle
        i.material-icons menu

    .header-menu
      include menu-navigation

      include menu-social
