header.header
  .container
    .header-logo
      a(href='/')
        img(src='../images/icon-logo.png')

    .header-button
      button.js-header-menu-toggle
        i.material-icons menu

    .header-menu
      nav.header-menu-navigation
        ul
          li
            a(href='') Sobre
          li
            a(href='') Portfólio
          li
            a(href='') Blog
          li
            a(href='') Contato
          li
            a(href='') Participe

      nav.header-menu-social
        ul
          li
            a(href='')
              i.material-icons face
          li
            a(href='')
              i.material-icons book
