nav.menu-navigation
  ul
    li
      a(href='/sobre.html') Sobre
    li
      a(href='/portfolio.html') Portfólio
    li
      a(href='http://blog.basejr.com.br') Blog
    li
      a(href='#contato' data-hash='contato').js-jump-contact Contato
    li
      a(href='#participe' data-hash='participe').button-joinus.js-jump-joinus Participe
