nav.menu-social
  ul
    li
      a(href='https://www.facebook.com/EmpresaBaseJr' target='_blank')
        span.icon-facebook
    li
      a(href='javascript:void(0)')
        span.icon-instagram
    li
      a(href='https://www.linkedin.com/company/base-jr' target='_blank')
        span.icon-linkedin
