nav.menu-navigation
  ul
    li
      a(href='/sobre.html') Sobre
    li
      a(href='/portfolio.html') Portfólio
    li
      a(href='/blog.html') Blog
    li
      a(href='/contato.html') Contato
    li
      a(href='/participe.html').button-joinus Participe
