nav.menu-social
  ul
    li
      a(href='https://www.facebook.com/EmpresaBaseJr' target='_blank')
        span.icon-facebook

    li
      a(href='https://www.linkedin.com/company/base-jr' target='_blank')
        span.icon-linkedin

    li
      a(href='https://www.instagram.com/base.junior' target='_blank')
        span.icon-instagram
