body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: $fw-normal;
  color: $c-text;

  &.header--expanded {
    overflow: hidden;
  }
}

.page {
  position: relative;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  @include clearfix();
}

.content > section:first-child {
  padding-top: 80px;
}

.button-join {

}

@include medium() {
  .container {
    max-width: $ct-medium;
    margin-left: auto;
    margin-right: auto;
  }
}

@include large() {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .content > section:first-child {
    padding-top: 100px;
  }

}
