[class^="icon-"] {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../images/sprite-social.png') no-repeat 0 0;
  background-size: 24px 96px;
}

.icon-facebook {
  background-position: 0 0;
}

.icon-instagram {
  background-position: 0 -24px;
}

.icon-linkedin {
  background-position: 0 -48px;
}

.icon-twitter {
  background-position: 0 -72px;
}

.icon-loading {
  background: url('../images/icon-loading.gif') no-repeat center center;
  background-size: 24px 24px;
}
