// Breakpoints
// must match js breakpoints, check app/scripts/includes/breakpoint.js
$bp-medium: 768px !default;
$bp-large: 1200px !default;

// Containers
$ct-medium: 1020px !default;

// Font weights
$fw-extra-light: 100 !default;
$fw-light: 300 !default;
$fw-normal: 400 !default;
$fw-bold: 700 !default;

// Colors
$c-text: #727376 !default;
$c-text-light: #EFEFEF !default;
$c-base: #3CA2C3 !default;
