// Breakpoints
// must match js breakpoints, check app/scripts/includes/breakpoint.js
$bp-medium: 768px !default;
$bp-large: 1200px !default;

// Containers
$ct-medium: 980px !default;

// Font weights
$fw-light: 300 !default;
$fw-normal: 400 !default;
$fw-bold: 600 !default;
$fw-extra-bold: 700 !default;

// Colors
$c-text: #333333 !default;
$c-text-light: #f6f6f6 !default;;
