.welcome {
  position: relative;
  min-height: 100vh;
  background: url('../images/bg-welcome.png') no-repeat top center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  z-index: 100;

  .title {
    display: block;
    margin: -40px 0 20px;
    font-size: 34px;
    line-height: 40px;
    font-weight: $fw-extra-light;
    color: $c-text-light;
  }

  .sub-title {
    display: block;
    margin: 0;
    padding: 0;
    color: $c-text-light;
    font-weight: $fw-extra-light;
  }

  .keep-going {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: $c-text-light;
  }
}

.about {
  padding: 60px 0 70px;

  .item {
    max-width: 320px;
    margin: 0 auto;

    & + .item {
      margin-top: 60px;
    }

    .image {
      margin-bottom: 20px;
      text-align: center;

      img {
        max-height: 80px;
      }
    }

    .text {
      text-align: center;

      p {
        margin: 0;
        font-weight: $fw-light;
      }
    }
  }
}

.portfolio {
  background: $c-portfolio;
}

@include medium() {

  .about {
    text-align: center;

    .item {
      max-width: none;
      width: 50%;

      &:first-child {
        float: left;
      }

      &:last-child {
        float: right;
      }

      & + .item {
        margin-top: 0;
      }

      .text {
        width: 380px;
        margin: 0 auto;
        padding: 0 20px;
        font-size: 18px;
      }
    }
  }

}

@include large() {
  .welcome {
    min-height: 80vh;
    max-height: 100vh;

    .title {
      margin: 160px 0 20px;
      font-size: 42px;
      line-height: 44px;
    }

    .sub-title {
      margin: 0 0 180px;
      font-size: 18px;
    }

    .keep-going {
      display: none;
    }
  }

  .about .item .text {
    width: 420px;
  }
}
