.index_welcome {
  position: relative;
  min-height: 100vh;
  background: url('../images/bg-site.png') no-repeat top left;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  z-index: 100;
  text-align: center;

  .main-title {
    display: block;
    margin: -40px 0 20px;
    font-size: 34px;
    line-height: 40px;
    font-weight: $fw-light;
    color: $c-text-light;
  }

  .main-sub-title {
    display: block;
    margin: 0;
    padding: 0;
    color: $c-text-light;
    font-weight: $fw-light;
  }

  .keep-going {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: $c-text-light;
  }
}

.index_about {
  padding: 60px 0;

  .items .item .text {
    font-size: 18px;
  }
}

.index_portfolio {
  padding: 60px 0;
  background: $c-base;

  .title,
  .items .item .text {
    color: $c-text-light;
  }

  .items .item .text .text-content {
    font-size: 18px;
  }

  .see-more a {
    color: $c-text-light;
    border-color: $c-text-light;

    &:hover {
      background: $c-text-light;
      color: $c-base;
    }
  }
}

@include large() {
  .index_welcome {
    min-height: 70vh;
    max-height: 100vh;

    .main-title {
      margin: 120px 0 20px;
      font-size: 52px;
      line-height: 54px;
    }

    .main-sub-title {
      margin: 0 0 140px;
      font-size: 18px;
    }

    .keep-going {
      display: none;
    }
  }
}
