.portfolio_welcome {
  position: relative;

  .container {
    padding-top: 60px;
  }

  .items .item .image img {
    border: 2px solid $c-base;
    border-radius: 50%;
  }
}

@include medium() {
  .portfolio_welcome .items .item {
    text-align: left;
  }
}
