<meta property="og:site_name" content="Base Jr. - Blog"/>
<meta property="og:description" content="A Base Jr. é uma Empresa Júnior de Engenharia Civil e é formada exclusivamente por estudantes em fase de graduação."/>
<meta property="og:image" content="http://static.basejr.com.br/blog/images/logo.png"/>
<meta property="og:title" content="Base Jr. - Blog" />

{block:IndexPage}
<meta property="og:type" content="blog"/>
<meta property="og:url" content="http://blog.basejr.com.br"/>
{/block:IndexPage}

{block:PermalinkPage}
<meta property="og:url" content="{Permalink}"/>
<meta property="og:type" content="article"/>
{/block:PermalinkPage}
