extends layouts/default

block content
  section.welcome
    .container
      h1.title.
        Soluções personalizadas
        #[br]
        em engenharia e gestão
      p.sub-title.
        Preciso de uma frase pequena, que fale algo bonito
    i.keep-going.material-icons keyboard_arrow_down
