extends layouts/default

block content
  section.welcome
    .container
      p.
       asdasd
      p.
        asdasd
      p.
        asdasd
      p.
       asdasd
      p.
        asdasd
      p.
        asdasd
      p.
        asdasd
      p.
        asdasd
      p.
        asdasd
