extends layouts/default

block content
  section.index_welcome
    .container
      h1.title.
        Soluções personalizadas
        #[br]
        em engenharia e gestão
      p.sub-title.
        Uma frase pequena que explique o que vocês fazem, sei lá
    i.keep-going.material-icons keyboard_arrow_down

  section.index_about
    .container
      .item
        .image
          img(src='../images/icon-logo3.png')
        .text
          p.
            A Base Jr. é uma Empresa Júnior de Engenharia Civil e é formada exclusivamente por estudantes em fase de graduação.

      .item
        .image
          img(src='../images/icon-bj.png')
        .text
          p.
            O Movimento de Empresa Júnior (MEJ) iniciou-se na França na década de 60. No Brasil, o movimento foi introduzido em 1988.

  section.index_portfolio
    .container
      h1.title Portfólio

      .item
        .image
          img(src='../images/placeholder.png')
        .legend
          p Desenho Arquitetônico

      .item
        .image
          img(src='../images/placeholder.png')
        .legend
          p Programa de Capacitação Docente em Administração

      .item
        .image
          img(src='../images/placeholder.png')
        .legend
          p Cadastramento Imobiliário
