extends layouts/default

block content
  section.portfolio_welcome
    .contaner
      h1.title Portfólio

  section.architecture
    .container
      .item
        .image
          img(src='../images/placeholder.png')
        .title
          p Desenho Arquitetônico
        .text
          p.
            O desenho arquitetônico consiste em um conjunto de elementos gráficos

            elaborados por profissionais qualificados da área da construção civil com o

            objetivo de representar um projeto na forma de desenho técnico. É composto

            por 5 plantas principais: planta baixa, planta de cortes, planta de cobertura,

            fachada, planta de situação e planta de localização. É obrigatória a

            apresentação dessas plantas para a Prefeitura Municipal na execução,

            reforma, ou ampliação de qualquer edificação.

            O serviço é realizado conforme o desejo do cliente, que expõe suas ideias e

            orienta nossos funcionários para que possamos atender às suas necessidades

            da melhor forma. No caso de desenhos “as built”, é feito um levantamento de

            dados no local da construção para a elaboração do desenho. O tempo para a

            realização desse serviço é de aproximadamente e conta com o uso do

            software AutoCad.

  section.administration
    .container
      .item
        .image
          img(src='')
        .title
          p Programa de Capacitação Docente em Administração
        .text
          p.
            O PDCA é um serviço de gestão organizado de maneira a suprir informações

            necessárias para o melhor arranjo logístico nos centros acadêmicos. Nele são

            elencados diversos itens segundo as necessidades do contratante.

            O serviço dura em média 4 meses e para as medições é utilizada trena a laser e

            todos os dados levantados são organizados em tabelas a serem posteriormente

            digitalizadas para o Excel. O serviço já foi executado no CT, com uma área de

            aproximadamente 11000 m² e no CCNE, com área aproximada de 16400 m².

            Com os resultados reunidos em tabelas, o cliente pode ter uma noção completa

            da ocupação dos espaços, avaliando vários aspectos das salas desde a presença de ar

            condicionados e aparelhos multimídia, até vidros quebrados e fechaduras estragadas.

            Tudo isso ajuda em melhores investimentos dentro do centro, permitindo assim uma

            maior organização.

  section.brokerage
    .container
      .item
        .image
          img(src='')
        .title
          p Cadastramento Imobiliário
        .text
          p.
            O cadastramento imobiliário, mais conhecido como Cadim, é um serviço social realizado pela Base Jr. com o objetivo de ajudar famílias a regularizarem a situação de seus imóveis na prefeitura. Foi o primeiro trabalho realizado pela empresa, sendo importante ressaltar que não traz remuneração para a mesma, sendo necessário o cliente pagar somente as taxas referente ao processo.

            Todo o processo se encontra bem estruturado na área de projetos, há o mapeamento das etapas com a respectiva duração além de diversos manuais de como cada tarefa deve ser realizada. Para isso é utilizado programas como o Ms Project e o excel para montar tabelas do panorama geral do serviço e assim assegurar maior controle do mesmo. Ainda, cada cliente possui uma pasta com os dados e arquivos referente ao seu serviço no google drive para facilitar e dar mais agilidade a troca de informação entre os membros envolvidos.

            Após o primeiro contato é checado na prefeitura a situação do imóvel e são realizadas visitas aos locais para retirar as medidas da casa. Posteriormente inicia-se o processo verificação da conformidade do local de acordo com o código de obras de Santa Maria e é feito o parecer técnico na área de engenharia civil com os pontos irregulares, se houverem, que deve mudar na casa afim de se conseguir a regularização. Então são feitas as plantas baixas, de localização e situação, sendo utilizado o conhecimento do programa AutoCad. No final do processo ainda há a parte de avaliação final da qualidade do serviço, onde é visto onde pode-se melhorar garantindo o continuo desenvolvimento e melhora.


