extends layouts/default

block variables
  - var header_dark = true

block content
  section.portfolio_welcome
    .container
      h1.title Conheça os nossos produtos

  section.portfolio_explained
    .container
      .items
        .item
          .image
            img(src='../images/icon-design.png')
          .text
            p.text-title Desenho Arquitetônico
            p.text-content.
              O Desenho Arquitetônico consiste em um conjunto de elementos gráficos baseados em desenhos técnicos com o objetivo de representar um projeto. É composto por 5 plantas necessárias na construção civil. O nosso diferencial está centrado em um seriço executado por estudantes em fase acadêmica que contam com suporte e orientação de professores da Universidade Federal de Santa Maria.
        .item
          .image
            img(src='../images/icon-project.png')
          .text
            p.text-title Plano Diretor de Centros Acadêmicos
            p.text-content.
              O PDCA é um serviço de gestão organizado de maneira a suprir informações necessárias para o melhor arranjo logístico nos centros acadêmicos ocasionando na otimização do uso e controle do espaço. Dentro desse serviço também são oferecidos opcionais como estudo de patologia nas estruturas, estudo de iluminação natural das salas de aula, entre outros solicitados individualmente por cada cliente.
      .items
        .item
          .image
            img(src='../images/icon-brokerage.png')
          .text
            p.text-title Cadastramento Imobiliário
            p.text-content.
              O Cadastramento Imobiliário é um serviço social em alguns casos, sendo em outros pago. O critério  para pagamento ou não do serviço fica concentrado na análise de renda do clinete. Tem como objetivo principal ajudar famílias a regularizarem a situação de seus imóveis na prefeitura por meio de desenhos técnicos conforme leis vigentes e criando também um plano de ação das estapas que devem ser cumpridas pelo mesmo para que a regularização ocorra perante a prefeitura.
        .item
          .image
            img(src='../images/icon-administration.png')
          .text
            p.text-title Gerenciamento de Obras
            p.text-content.
              Caracteriza-se pela administração, controle e gestão dos processos que envolvem a obra em busca da melhoria contínua. Inclui: Acompanhamento e verificação do cumprimento de normas técnicas e legais. Busca também a aplicação do modelo de construção enxuta ou lean construction, para aperfeiçoamento dos processos que geram valor ao produto final na obra, a construção.

  include partials/feed-form
