extends layouts/default

block content
  section.about_welcome
    .container
      h1.title Sobre

  section.about_explained
    .container
      .item
        .image
          img(src='../images/icon-logo3.png')
        .text
          p.
            A Base Jr. é uma Empresa Júnior de Engenharia Civil e é formada exclusivamente por estudantes em fase de graduação. O principal objetivo é capacitar membros na realização de projetos e na gestão empresarial, possibilitando a eles, ainda na graduação, ter contato real com o mercado de trabalho.

      .item
        .image
          img(src='../images/icon-bj.png')
        .text
          p.
            O Movimento de Empresa Júnior (MEJ) iniciou-se na França na década de 60. No Brasil, o movimento foi introduzido em 1988. As primeiras Empresas Juniores brasileiras começaram a surgir no final de 1988, com a criação da Empresa Júnior da FGV (Fundação Getúlio Vargas - SP). Atualmente, o Brasil tem cerca de 700 EJ’s, sendo o nosso país o que tem maior número de empresas no mundo!
